---
---

{{ site.css | where:"title", "Base" | first }}

{{ site.css | where:"title", "Tablelist" | first }}


.wrapper {
    max-width: 18cm; /*21-1.5*2*/
}

.title {
    font-size: 4.845em;
}

h2, h3, h4, h5, h6 {
    font-size: 1.2em;
    
    page-break-after: avoid;
    page-break-inside: avoid;
}

.flavour {
    margin-top: -.5em;
    font-size: 1.1em;
    color: #999999;
    
    page-break-after: avoid;
    page-break-inside: avoid;
}

a {
    color: inherit;
    text-decoration: inherit;
}
