---
---

{{ site.css | where:"title", "Base" | first }}

{{ site.css | where:"title", "Tablelist" | first }}

h2, h3, h4, h5, h6 {
	padding: .2em;
    border-style: solid;
    border-width: .3em;
	border-style: outset;
	border-color: #C0C0C0;
    background-color: #F0F0F0;
    
    page-break-after: avoid;
    page-break-inside: avoid;
}

a {
    color: inherit;
    text-decoration: inherit;
}
