---
---

{{ site.css | where:"title", "Base" | first }}

{{ site.css | where:"title", "Tablelist" | first }}

h2, h3, h4, h5, h6 {
    font-size: 1.2em;
    
    page-break-after: avoid;
    page-break-inside: avoid;
}

a {
    color: inherit;
    text-decoration: inherit;
}
