---
---

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Pablo's Portfolio</title>
		<link rel="shortcut icon" type="image/png" href="images/professor_pablo_icon_48x48.png"/>

		<link rel="stylesheet" type="text/css" href="css/styles.css">

		<script src="js/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="js/slides.js"></script>

		<script type="text/javascript">
			$(document).ready(function() {
				Slides.initializeSlides();
			});
		</script>

	</head>

	<body>

		<div class="page_wrapper">

			<div class="title">Pablo Bollans&eacute;e</div>

			{% include_relative _slides/about.html %}
			{% include_relative _slides/masterwars.html %}
			{% include_relative _slides/planetoids.html %}
			{% include_relative _slides/reconnect.html %}

			{% capture captured %}{% include_relative _slides/3d.md %}{% endcapture %} {{ captured | markdownify }}

			<div class="footer">Copyright Pablo Bollans&eacute;e</div>

		</div>

	</body>

	<script type="text/javascript">
		//close slides before they are loaded to prevent ugly resizing
		Slides.closeAllSlides();
	</script>

</html>
