{% include slide_start.html title="Planetoids" image="images/planetoids.jpg" %}


<div id="planetoids_game" width="100%"><canvas style="border: none; position: relative;" width="100%" onselectstart="return false;" oncontextmenu="return false;"></canvas></div>

<h2>An awesome space shooting game</h2>

<p>Planetoids is a little game I made in my first year of DAE. It's a lot like astroids yet with unique movement controls and lasers. When your little spacecraft shoots a laser it slices the astroids in half.</p>
<p>I later remade this little game using the html5 canvas, so everyone can play it in their browsers without any plugin. That's what you're seeing above. It uses Box2dweb for physics.</p>

<p>Read more about the game <a href="planetoids/">here</a> or play it in fullscreen <a href="planetoids_v2_0/">here</a>.</p>


{% include slide_end.html %}


<script type="text/javascript" src="planetoids_v2_0/js/planetoids.js"></script>
<script type="text/javascript">
	if (!jQuery.browser.mobile) {
		var planetoids = $("#planetoids_game");
		var planetoidsCanvas = planetoids.children("canvas")[0];

		planetoidsCanvas.width = planetoids.width();
		planetoidsCanvas.height = planetoids.width() * 0.75;
		InitPlanetoids(planetoidsCanvas, 5);
	}
	else {
		$("#planetoids_game").hide();
		//TODO Place video instead.
	}
</script>
