.table_list {
    margin: 0;
    padding: 0;

    ul,
    ol {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    >li {
        display: grid;
        grid-template-columns: 10em auto;
        padding-left: 0.3em;

        >ul,
        >ol {
            display: flex;
            flex-wrap: wrap;

            li {
                flex-basis: content;
                min-width: 50%;
                padding-bottom: .3em;
            }
        }

        &:last-child {
            border-bottom: none;
        }

        &:nth-child(odd) {
            background-color: #d7d7d7;
        }
    }

    @media (max-width: 672px) {
        text-align: left;

        >li {
            grid-template-columns: auto;
            font-weight: bold;

            *:last-child {
                font-weight: initial;
            }

            >ul,
            >ol {
                display: initial;
            }
        }
    }
}

@media (max-width: 672px) {
    h3 {
        padding-top: 1em;
    }
}