---
---

body {
    font-family: Verdana, Geneva, sans-serif;
    text-align: justify;
}

.title {
    font-size: 5.7em;
    color: #cecece;
    white-space: nowrap;
    font-weight: bold;

    overflow: visible;

    margin: 0 0 0 -0.1em;
}

.title a {
    text-decoration: none;
    color: #cecece;
}

.wrapper {
    max-width: 50em;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-size: medium;
    font-weight: bold;
    margin: 0.313em 0 0 0;
}

h1 {
    font-size: 200%;
}

p {
    margin: 0.313em 0;
}
table {
    font-size: 0.750em;
    width: 100%;
    padding: 0;
    table-layout:fixed; 
}

td {
    padding-bottom: .3em;
    vertical-align: text-top;
}
td:first-child {
    width: 8.000em;
}

a {
    color: #2da2f1;
}

.footnote {
    padding-left: 1em;
}

.footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.750em;
    color: #CCC;
    text-align: right;
    overflow: visible;
    vertical-align: text-bottom;
    margin: 0.625em 0 0 0;
}
