{% include slide_start.html title="About" image="images/about.jpg" %}


<h2>Een eenvoudige boerenjongen</h3>

<h3>Me</h3>
<table>
	<tr>
		<td>Name</td>
		<td>Pablo Bollans&eacute;e</td>
	</tr>
	<tr>
		<td>Nationality</td>
		<td>Belgian</td>
	</tr>
	<tr>
		<td>Birthday</td>
		<td>July 18th, 1991</td>
	</tr>
	<tr>
		<td>Contact</td>
		<td>pablo.bollansee@gmail.com</td>
	</tr>
</table>

<h3>Experiences</h3>
<table>
	<tr>
		<td>Vanguard Games</td>
		<td>Four month internship at Vanguard Games. Worked as a programmer, mainly C# and C++, during the development of Halo: Spartan Assault and Game Gurus.
		Afterwards they offered me a job but I only stayed for another two weeks as a vacation job to continue studying.</td>
	</tr>
	<tr>
		<td>MyMachine</td>
		<td>Worked with the MyMachine initiative to create a game for hard-to-handle kids. Along with other students I worked in group to create a game based on inventions made by the children.</td>
	</tr>
	<tr>
		<td>ReConnect</td>
		<td>Imagine Cup 2011, Game for Windows and Games for Windows Phone 7. finished in half finals.</td>
	</tr>
</table>

<h3>Studies</h3>
<table>
	<tr>
		<td>2015-2016</td>
		<td>Master of Applied Informatics (Major Artificial Intelligence), KU Leuven</td>
	</tr>
	<tr>
		<td>2014-2015</td>
		<td>Bridge Program: Master of Applied Informatics, KU Leuven</td>
	</tr>
	<tr>
		<td>2013-2014</td>
		<td>Physics, KU Leuven, first year only.
		Passed all my classes but decided not to continue in favor of applied informatics</td>
	</tr>
	<tr>
		<td>2009-2012</td>
		<td>DAE: Digital Arts and Entertainment (Major Game Development), Howest</td>
	</tr>
</table>

<h3>Main skills</h3>
<table>
	<tr>
		<td>Programming</td>
		<td>Proper class design</td>
		<td>Design patterns</td>
	</tr>
	<tr>
		<td></td>
		<td>Algorithms</td>
		<td>Game logic</td>
	</tr>

	<tr>
		<td>Unity 3D</td>
		<td>Fast prototyping</td>
	</tr>
	<tr>
		<td></td>
		<td>C# game logic scripting</td>
	</tr>
</table>

<h3>Programming Languages</h3>
<table>
	<tr>
		<td>C#</td>
		<td>Game programming</td>
		<td>Unity, XNA</td>
	</tr>
	<tr>
		<td></td>
		<td>Application development</td>
		<td>WinForm, WPF</td>
	</tr>
	<tr>
		<td></td>
		<td>Preferred language</td>
		<td></td>
	</tr>

	<tr>
		<td>Java</td>
		<td>Distributed applications</td>
		<td>RMI, JavaEE, GAE</td>
	</tr>
	<tr>
		<td></td>
		<td>Basic Android development</td>
	</tr>
	<tr>
		<td></td>
		<td colspan="2">Main language during master studies</td>
	</tr>

	<tr>
		<td>C++</td>
		<td>Extensive knowledge</td>
		<td>STL</td>
	</tr>
	<tr>
		<td></td>
		<td>Game programming</td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td colspan="2">Main language during DAE studies, though haven't used it much since then</td>
	</tr>

	<tr>
		<td>Other</td>
		<td>Haskell, Rust, Elm, C, Javascript, HTML, CSS, Prolog</td>
	</tr>
</table>

<h3>Minor skills</h3>
<table>
	<tr>
		<td>Photoshop</td>
		<td>Texturing (diffuse, specular, glossiness)</td>
	</tr>
	<tr>
		<td></td>
		<td>Refining normal maps</td>
	</tr>
	<tr>
		<td></td>
		<td>General photo and image editing</td>
	</tr>

	<tr>
		<td>Blender</td>
		<td>Simple 3D modeling</td>
		<td>Unwrapping</td>
	</tr>

	<tr>
		<td>3ds Max</td>
		<td>Optimized low-poly meshes</td>
		<td>Unwrapping</td>
	</tr>
	<tr>
		<td></td>
		<td>Sub-D modeling</td>
		<td>Normalmap baking</td>
	</tr>
	<tr>
		<td></td>
		<td>Skinning (basic knowledge)</td>
	</tr>

	<tr>
		<td>Mudbox</td>
		<td>Hight-poly sculpting (basic)</td>
		<td>Normalmap baking</td>
	</tr>

	<tr>
		<td>Direct X</td>
		<td>Basic 3D pipeline coding</td>
	</tr>

	<tr>
		<td>PhysX</td>
		<td>Implementing physics, including fluids and forcefields</td>
	</tr>
</table>

<h3>Spoken languages</h3>
<table>
	<tr>
		<td colspan="3">Dutch (Native), English</td>
	</tr>
</table>


{% include slide_end.html %}
