{% include slide_start.html title="Planetoids" image="images/planetoids.jpg" %}


<canvas id="canvas_planetoids" style="border: none; position: relative;" width="590" height="350" onselectstart="return false;" oncontextmenu="return false;"></canvas>

<h2>An awesome space shooting game</h2>

<p>Planetoids is a little game I made in my first year of DAE. It's a lot like astroids yet with unique movement controls and lasers. When your little spacecraft shoots a laser it slices the astroids in half.</p>
<p>I later remade this little game using the html5 canvas, so everyone can play it in their browsers without any plugin. That's what you're seeing above. It uses Box2dweb for physics.</p>

<p>Read more about the game <a href="planetoids/">here</a> or play it in fullscreen <a href="planetoids_v2_0/">here</a>.</p>


{% include slide_end.html %}


<script type="text/javascript" src="planetoids_v2_0/JS/Box2dWeb-2.1.a.3.min.js"></script>

<script type="text/javascript" src="planetoids_v2_0/JS/01-RequestAnimFrame.js"></script>
<script type="text/javascript" src="planetoids_v2_0/JS/02-Planetoids_Init.js"></script>
<script type="text/javascript" src="planetoids_v2_0/JS/03-Planetoids_Game.js"></script>
<script type="text/javascript" src="planetoids_v2_0/JS/04-Helpers.js"></script>
<script type="text/javascript" src="planetoids_v2_0/JS/05-SpaceShip.js"></script>
<script type="text/javascript" src="planetoids_v2_0/JS/06-Lasers.js"></script>
<script type="text/javascript" src="planetoids_v2_0/JS/07-Rocks.js"></script>
<script type="text/javascript" src="planetoids_v2_0/JS/08-Powerups.js"></script>
<script type="text/javascript" src="planetoids_v2_0/JS/09-Stars.js"></script>
<script type="text/javascript" src="planetoids_v2_0/JS/10-SlicePoint.js"></script>
<script type="text/javascript" src="planetoids_v2_0/JS/11-Input.js"></script>
<script type="text/javascript">
	if (!jQuery.browser.mobile) {
		InitPlanetoids(document.getElementById("canvas_planetoids"), 5);
	}
</script>
