.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4.92em;
    color: #cecece;
    text-align: middle;
    white-space: nowrap;
    font-weight: bold;

    overflow: visible;

    margin: 0 0 0 -0.05em;
}

a.title {
    text-decoration:none
}

.page_wrapper {
    width: 37.500em;
    margin: 0 auto;
}

.more_page_wrapper {
    width: 50.000em;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-size: medium;
    font-weight: bold;
    font-family: Verdana, Geneva, sans-serif;
    margin: 0.313em 0 0 0;
}

p {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 0.750em;
    margin: 0.313em 0;
    text-align: justify;
}
table {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 0.750em;
    width: 100%;
    padding: 0;
    text-align: justify;
}

td {
    margin-bottom: 0.313em;
    margin-top: 0;
}
td:first-child {
    width: 8.000em;
}

a {
    color: #2da2f1;
}

.footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.750em;
    color: #CCC;
    text-align: right;
    overflow: visible;
    vertical-align: text-bottom;
    margin: 0.625em 0 0 0;
}
