<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pablo's CV</title>
    <link rel="shortcut icon" type="image/png" href="/images/professor_pablo_icon_48x48.png" />

    <link rel="stylesheet" type="text/css" href="/css/cv.css">
</head>

<body>
    <div class="cv_wrapper">

        <h1>Pablo Bollansée</h1>

        <div class="flavour">Computer scientist, game developer</div>

        <div class="content" markdown="1">
            {{ content }}
        </div>

    </div>
</body>

</html>
