<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{ page.title }}</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

        <link rel="stylesheet" type="text/css" href="../css/styles.css">
    </head>

    <body>
        <div class="more_page_wrapper">

            <div class="title clickable" onclick="window.location = '../';">Pablo Bollans&eacute;e &lt;&lt;</div>

            <div class="slide_content">

                {{ content }}

            </div>

            <div class="footer">Copyright Pablo Bollans&eacute;e</div>
        </div>
    </body>
</html>
