<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{ page.title }}</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

        <link rel="stylesheet" type="text/css" href="../css/styles.css">
    </head>

    <body>
        <div class="more_page_wrapper">

            <a class="title" href="{{site.baseurl}}/"> Pablo Bollansée << </a>

            {{ content }}

            <div class="footer">Copyright Pablo Bollans&eacute;e</div>
        </div>
    </body>
</html>
